In [7]:
from pydatamocker import MockGenerator

# Data generation

In [14]:
mg = MockGenerator()
mg.add_field('FirstName', 'first_name')
mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)
mg.add_field('DateCreated', 'datetime', distr='uniform', start='2020-03-19', end='2020-03-30')
mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])

mg.sample(100_000)
mg.get_dataframe()[:]

,LastName,FirstName,Status,YOE,Number,Category,DateCreated
0,Damron,Nereida,new,5.953059,3,2,2020-03-28T14:09:07Z
1,Bland,Joeline,closed,3.725742,1,4,2020-03-20T23:13:10Z
2,Paxton,Hazen,processing,5.145241,2,3,2020-03-21T13:55:09Z
3,Dones,Terre,new,3.831848,2,5,2020-03-26T09:15:04Z
4,Sprague,Jerod,new,6.061726,3,1,2020-03-29T22:24:29Z
...,...,...,...,...,...,...,...
99995,Porch,Londell,processing,7.479801,1,4,2020-03-25T11:29:32Z
99996,Stroud,Elouise,processing,8.373924,3,2,2020-03-27T04:29:02Z
99997,Poyner,Chadric,new,5.989132,1,3,2020-03-29T22:07:22Z
99998,Lozoya,Richanda,new,4.412151,1,4,2020-03-23T22:14:48Z
99999,Bautista,Brenden,processing,8.407587,3,4,2020-03-26T00:34:15Z

## Data dumping

In [15]:
mg.dump('my_data.csv')