In [1]:
from pydatamocker import MockGenerator, config

SyntaxError: cannot assign to operator (config.py, line 9)

# Data generation

In [2]:
config(report_progress=True)
mg = MockGenerator()
mg.add_field('FirstName', 'first_name')
mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)

mg.add_field('DateCreated', 'datetime', distr='range', start='2020-03-19', end='2020-03-30')

mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])

mg.add_field('WeeksPassed', 'integer', distr='range', start=1, end=104)
mg.add_field('CumulativeTime', 'float', distr='range', start=0, end=120000000)

mg.add_table('ids.csv')

mg.sample(10_000)
mg.get_dataframe()

Sampling LastName ...
Sampling FirstName ...
Sampling Status ...
Sampling YOE ...
Sampling Number ...
Sampling Category ...
Sampling DateCreated ...
Sampling WeeksPassed ...
Sampling CumulativeTime ...
Sampling Id ...
Sampling Name ...
Sampling Tier ...

,LastName,FirstName,Status,YOE,Number,Category,DateCreated,WeeksPassed,CumulativeTime,Id,Name,Tier
0,Fry,Kierston,processing,3.919601,2,4,2020-03-19T00:00:00Z,1,0.0,0 pd1231451330 1 pd2231451313 ...,0 Henry & Sons 1 Aer...,0 Silver 1 Gold 2 ...
1,Stitt,Dasean,negotiation,5.611809,3,7,2020-03-19T00:00:00Z,1,120.0,NaN,NaN,NaN
2,Rome,Reggina,negotiation,6.060382,3,4,2020-03-19T00:00:01Z,1,240.0,NaN,NaN,NaN
3,Kinman,Omayra,negotiation,8.384532,2,4,2020-03-19T00:00:02Z,1,360.0,NaN,NaN,NaN
4,Gregor,Latria,negotiation,7.322979,4,3,2020-03-19T00:00:03Z,1,480.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,Emmanuel,Kerryn,negotiation,4.007291,1,5,2020-03-29T23:59:56Z,103,119999400.0,NaN,NaN,NaN
999996,Mower,Cassia,negotiation,4.937961,2,4,2020-03-29T23:59:57Z,103,119999520.0,NaN,NaN,NaN
999997,More,Rachael,negotiation,4.516999,4,1,2020-03-29T23:59:58Z,103,119999640.0,NaN,NaN,NaN
999998,Perlman,Giselle,negotiation,5.179908,4,2,2020-03-29T23:59:59Z,103,119999760.0,NaN,NaN,NaN
999999,Crider,Najla,new,6.201682,2,3,2020-03-30T00:00:00Z,103,119999880.0,NaN,NaN,NaN

## Data dumping

In [5]:
mg.dump('data/my_data.csv')
mg.dump('data/my_data.tsv')
mg.dump('data/my_data.json')

## Config dumping

In [4]:
mg.dump_config('data/schema.json')

## Mocking from config

In [5]:
mg2 = MockGenerator('data/schema.json')
mg2.sample(11)
mg2.get_dataframe()

,YOE,Status,Number,Category,DateCreated,WeeksPassed,CumulativeTime,Id,Name,Tier
0,6.612137,negotiation,4,2,2020-03-19T00:00:00Z,1,0.000000e+00,pd2231451313,Pegasus Delivery,Silver
1,3.161096,negotiation,1,5,2020-03-20T02:24:00Z,10,1.090909e+07,pd1231001313,Aion Trucks,Silver
2,5.977306,negotiation,4,5,2020-03-21T04:48:00Z,19,2.181818e+07,pd1231451330,Aer Newton,Bronze
3,8.921870,processing,1,2,2020-03-22T07:12:00Z,29,3.272727e+07,pd1231450013,Northern Transportation Company,Gold
4,4.548625,negotiation,3,3,2020-03-23T09:36:00Z,38,4.363636e+07,pd1231450013,Northern Transportation Company,Gold
5,4.738154,negotiation,3,3,2020-03-24T12:00:00Z,47,5.454545e+07,pd1231001313,Aion Trucks,Silver
6,7.763691,negotiation,3,1,2020-03-25T14:24:00Z,57,6.545455e+07,pd1231451330,Aer Newton,Bronze
7,5.894173,new,1,5,2020-03-26T16:48:00Z,66,7.636364e+07,pd2231451313,Pegasus Delivery,Silver
8,8.612082,new,1,3,2020-03-27T19:12:00Z,75,8.727273e+07,pd1231451313,"Truck, Porch, Happy Customer",Gold
9,5.707817,processing,1,5,2020-03-28T21:36:00Z,85,9.818182e+07,pd1231001313,Aion Trucks,Silver
10,3.793234,new,4,3,2020-03-30T00:00:00Z,94,1.090909e+08,pd2231451313,Pegasus Delivery,Silver