In [1]:
from pydatamocker import MockGenerator

# Data generation

In [2]:
mg = MockGenerator()
mg.add_field('FirstName', 'first_name')
mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)
mg.add_field('DateCreated', 'datetime', distr='range', start='2020-03-19', end='2020-03-30')
mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])
mg.add_field('WeeksPassed', 'integer', distr='range', start=1, end=104)
mg.add_field('CumulativeTime', 'float', distr='range', start=0, end=120000000)
mg.sample(3000)
mg.get_dataframe()[:]

,LastName,FirstName,Status,YOE,Number,Category,DateCreated,WeeksPassed,CumulativeTime
0,Amerson,Parry,closed,3.567327,2,4,2020-03-19T00:00:00Z,1,0.0
1,Cabral,Rashee,processing,3.320134,3,2,2020-03-19T00:05:16Z,1,40000.0
2,Seeger,Shareece,negotiation,4.951070,4,3,2020-03-19T00:10:33Z,1,80000.0
3,Browning,Banessa,closed,3.169578,2,5,2020-03-19T00:15:50Z,1,120000.0
4,Montiel,Chereese,new,6.783208,2,4,2020-03-19T00:21:07Z,1,160000.0
...,...,...,...,...,...,...,...,...,...
2995,Macaulay,Karrisa,negotiation,6.450982,1,4,2020-03-29T23:38:52Z,103,119800000.0
2996,Saltsman,Kyle,negotiation,6.907513,3,2,2020-03-29T23:44:09Z,103,119840000.0
2997,Slater,Viet,negotiation,4.670832,4,3,2020-03-29T23:49:26Z,103,119880000.0
2998,Clary,Kruti,negotiation,4.541955,1,2,2020-03-29T23:54:43Z,103,119920000.0
2999,Berthelot,Eveline,processing,3.153950,2,2,2020-03-30T00:00:00Z,103,119960000.0

## Data dumping

In [3]:
mg.dump('my_data.csv')
mg.dump('my_data.tsv')
mg.dump('my_data.json')