In [1]:
from pydatamocker import MockGenerator

# Data generation

In [7]:
mg = MockGenerator()
#mg.add_field('FirstName', 'first_name')
#mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)

mg.add_field('DateCreated', 'datetime', distr='range', start='2020-03-19', end='2020-03-30')

#mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])

mg.add_field('WeeksPassed', 'integer', distr='range', start=1, end=104)
mg.add_field('CumulativeTime', 'float', distr='range', start=0, end=120000000)

mg.add_table('ids.csv')

mg.sample(10_000)
mg.get_dataframe()

,YOE,Status,Number,Category,WeeksPassed,CumulativeTime,Id,Name,Tier
0,4.326838,new,1,5,1,0.0,pd1231451313,"Truck, Porch, Happy Customer",Gold
1,4.126386,negotiation,1,3,1,12000.0,pd1231151313,Henry & Sons,Silver
2,7.530374,processing,3,3,1,24000.0,pd1231451330,Aer Newton,Bronze
3,3.074863,new,1,5,1,36000.0,pd1231450013,Northern Transportation Company,Gold
4,5.008480,negotiation,3,2,1,48000.0,pd1231450013,Northern Transportation Company,Gold
...,...,...,...,...,...,...,...,...,...
9995,5.915494,closed,4,3,103,119940000.0,pd1231451330,Aer Newton,Bronze
9996,6.159071,processing,3,5,103,119952000.0,pd1231001313,Aion Trucks,Silver
9997,3.919903,new,1,5,103,119964000.0,pd1233351313,Acme Corp,Bronze
9998,5.733204,negotiation,1,1,103,119976000.0,pd1231451330,Aer Newton,Bronze
9999,5.722994,new,2,2,103,119988000.0,pd1239851313,Acme Inc,Bronze

## Data dumping

In [8]:
mg.dump('data/my_data.csv')
mg.dump('data/my_data.tsv')
mg.dump('data/my_data.json')

## Config dumping

In [9]:
mg.dump_config('data/schema.json')

## Mocking from config

In [10]:
mg2 = MockGenerator('data/schema.json')
mg2.sample(11)
mg2.get_dataframe()

,YOE,Status,Number,Category,WeeksPassed,CumulativeTime,Id,Name,Tier
0,7.985480,negotiation,4,4,1,0.000000e+00,pd1233351313,Acme Corp,Bronze
1,5.870784,new,1,5,10,1.090909e+07,pd1239851313,Acme Inc,Bronze
2,4.655374,processing,2,2,19,2.181818e+07,pd2231451313,Pegasus Delivery,Silver
3,4.063014,new,1,1,29,3.272727e+07,pd3531451311,Fast & Careful,Bronze
4,5.017107,processing,3,3,38,4.363636e+07,pd1231450013,Northern Transportation Company,Gold
5,7.981834,negotiation,1,0,47,5.454545e+07,pd1231001313,Aion Trucks,Silver
6,3.877459,new,3,4,57,6.545455e+07,pd1223451313,Guandong Drivers,Gold
7,7.252827,new,3,0,66,7.636364e+07,pd1231451330,Aer Newton,Bronze
8,6.247320,new,1,5,75,8.727273e+07,pd1233351313,Acme Corp,Bronze
9,4.547355,processing,4,3,85,9.818182e+07,pd1231001313,Aion Trucks,Silver
10,6.660936,negotiation,3,2,94,1.090909e+08,pd1239851313,Acme Inc,Bronze