In [4]:
from pydatamocker import *

# Data generation

In [5]:
mg = MockGenerator()
mg.add_field(Field('FirstName', 'first_name'))
mg.add_field(Field('LastName', 'last_name'))

age_field = Field('Age', 'float')
age_field.set_props(distr='normal', mean=30)
age_field.set_prop('std', 6)

mg.add_field(age_field)
mg.add_field(Field('YOE', 'float', distr='uniform', min=3, max=9))
mg.add_field(Field('Status', 'enum', values=['good', 'bad', 'alright', 'horrible'], weights=[5, 2, 3, 1]))
mg.add_field(Field('Category', 'integer', distr='binomial', n=10, p=0.3))

mg.set_order(['LastName', 'Age', 'FirstName', 'FirstName', 'YOE'])

mg.sample(1000_000)
mg.get_dataframe()[:]

           LastName        Age  FirstName       YOE    Status  Category
0            Atwood  35.986419       Auna  6.011099      good         3
1          Fogleman  35.562424     Jerell  5.490137   alright         5
2          Feinberg  24.040802      Petar  6.182345       bad         4
3       Dalessandro  32.769481     Jarrad  7.502203      good         4
4              Kile  33.145521   Adreanna  7.560230       bad         3
...             ...        ...        ...       ...       ...       ...
999995         Hash  33.896030    Lamonte  5.653088      good         1
999996       Bodnar  25.923703  Shantella  3.767341  horrible         3
999997  Brandenburg  25.344391     Karlin  5.262750      good         3
999998        Ricks  36.410316    Kerilyn  4.934778       bad         4
999999      Albaugh  19.105471     Warner  8.738539      good         3

[1000000 rows x 6 columns]

## Data dumping

In [3]:
mg.dump('my_data.csv')