In [1]:
from pydatamocker import MockGenerator

# Data generation

In [4]:
mg = MockGenerator()
mg.add_field('FirstName', 'first_name')
mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)
mg.add_field('DateCreated', 'datetime', distr='range', start='2020-03-19', end='2020-03-30')
mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])
mg.add_field('WeeksPassed', 'integer', distr='range', start=1, end=104)
mg.add_field('CumulativeTime', 'float', distr='range', start=0, end=120000000)
mg.sample(3000)
mg.get_dataframe()[:]

,LastName,FirstName,Status,YOE,Number,Category,DateCreated,WeeksPassed,CumulativeTime
0,Gerhardt,Levern,processing,8.635147,1,3,2020-03-19T00:00:00Z,1,0.0
1,Stradley,Maryhelen,negotiation,4.835079,4,1,2020-03-19T00:05:16Z,1,40000.0
2,Melton,Shaunette,negotiation,5.102735,4,5,2020-03-19T00:10:33Z,1,80000.0
3,Pipes,Zoe,new,3.951141,1,2,2020-03-19T00:15:50Z,1,120000.0
4,Garver,Ragina,new,8.881718,3,4,2020-03-19T00:21:07Z,1,160000.0
...,...,...,...,...,...,...,...,...,...
2995,Pieper,Natan,negotiation,5.579331,3,4,2020-03-29T23:38:52Z,103,119800000.0
2996,Lerma,Demorris,new,5.223116,4,3,2020-03-29T23:44:09Z,103,119840000.0
2997,Lake,Jasper,processing,8.273792,4,4,2020-03-29T23:49:26Z,103,119880000.0
2998,Crank,Aniela,new,5.019298,3,2,2020-03-29T23:54:43Z,103,119920000.0
2999,Heller,Khristina,new,7.663548,2,3,2020-03-30T00:00:00Z,103,119960000.0

## Data dumping

In [5]:
mg.dump('my_data.csv')