In [1]:
from pydatamocker import *

# Data generation

In [4]:
mg = MockGenerator()
mg.add_field('FirstName', 'first_name')
mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)
mg.add_field('DateCreated', 'datetime', distr='uniform', start='2020-03-19', end='2020-03-30')
mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])

mg.sample(100_000)
mg.get_dataframe()[:]

,LastName,FirstName,Status,YOE,Number,Category,DateCreated
0,Engelbrecht,Desira,negotiation,7.523691,3,4,2020-03-21T11:56:58Z
1,Heimann,Davona,processing,6.278293,3,3,2020-03-24T19:34:22Z
2,Gilliam,Quinzell,closed,3.773089,4,5,2020-03-25T02:34:46Z
3,Threadgill,Jaquelin,processing,7.238805,1,6,2020-03-24T13:20:42Z
4,Sprinkle,Kellen,processing,4.803848,3,2,2020-03-22T22:44:04Z
...,...,...,...,...,...,...,...
99995,Parra,Shiree,negotiation,8.132981,3,2,2020-03-23T01:41:48Z
99996,Windham,Gail,processing,4.872100,3,5,2020-03-24T22:38:54Z
99997,Hulsey,Jay,processing,3.987027,2,5,2020-03-29T21:58:58Z
99998,Fears,May,closed,8.309335,1,2,2020-03-20T15:19:32Z
99999,Winston,Hatem,negotiation,8.558684,4,2,2020-03-29T22:57:06Z

## Data dumping

In [3]:
mg.dump('my_data.csv')