In [1]:
from pydatamocker import *

# Data generation

In [2]:
mg = MockGenerator()
mg.add_field('FirstName', 'first_name')
mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['good', 'bad', 'alright', 'horrible'], weights=[5, 2, 3, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)

mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])

mg.sample(1000_000)
mg.get_dataframe()[:]

         LastName FirstName   Status       YOE  Category
0            Choe     Kaori      bad  6.018320         3
1       Camarillo   Asusena  alright  4.516209         1
2          Unrein   Melonee     good  8.920456         2
3          Vereen   Marysol     good  3.190305         1
4          Soares   Seairra      bad  8.262695         4
...           ...       ...      ...       ...       ...
999995      Barry    Sharai     good  3.376847         4
999996    Crochet   Joshuah     good  4.073117         5
999997        Epp     Breda  alright  7.177966         2
999998      Furey    Lislie  alright  4.229130         1
999999    Salcedo  Johnnell  alright  8.180102         3

[1000000 rows x 5 columns]

## Data dumping

In [3]:
mg.dump('my_data.csv')