In [1]:
from pydatamocker import *

# Data generation

In [6]:
mg = MockGenerator()
mg.add_field('FirstName', 'first_name')
mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)

mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])

mg.sample(1000_000)
mg.get_dataframe()[:]

         LastName    FirstName       Status       YOE  Category  Number
0          Godley         Grey  negotiation  3.278263         3       1
1          Lovett      Timathy          new  7.864839         0       3
2          Weeden     Deldrick  negotiation  8.564404         3       2
3       Karpinski      Danessa   processing  3.764800         3       2
4            Mash        Mikal          new  5.236201         3       3
...           ...          ...          ...       ...       ...     ...
999995       Bowe  Luisalberto          new  7.647036         3       3
999996   Cheesman     Erendira          new  3.210394         4       2
999997   Mcdowell       Idania          new  8.609810         1       4
999998   Eldridge        Roxan  negotiation  6.417354         2       2
999999       Bump         Bond  negotiation  4.716637         3       1

[1000000 rows x 6 columns]

## Data dumping

In [3]:
mg.dump('my_data.csv')