In [1]:
from pydatamocker import MockGenerator

# Data generation

In [3]:
mg = MockGenerator()
mg.add_field('FirstName', 'first_name')
mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)

# mg.add_field('DateCreated', 'datetime', distr='range', start='2020-03-19', end='2020-03-30')

mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])

mg.add_field('WeeksPassed', 'integer', distr='range', start=1, end=104)
mg.add_field('CumulativeTime', 'float', distr='range', start=0, end=120000000)

mg.sample(1_000_000)
mg.get_dataframe()[:]

,LastName,FirstName,Status,YOE,Number,Category,WeeksPassed,CumulativeTime,SomeId
0,Arceo,Janine,new,4.204489,1,2,1,0.0,pd1231450013
1,Walko,Shalina,negotiation,5.001936,1,1,1,120.0,pd3531451311
2,Burkholder,Jacque,new,7.124691,1,1,1,240.0,pd1223451313
3,Wayman,Jair,new,6.103351,3,3,1,360.0,pd1223451313
4,Wanner,Rollin,processing,7.550042,2,4,1,480.0,pd3531451311
...,...,...,...,...,...,...,...,...,...
999995,Cathcart,Sarica,negotiation,6.746625,4,5,103,119999400.0,pd1231451313
999996,Dupree,Jeresa,new,8.159963,1,3,103,119999520.0,pd1231151313
999997,Prine,Qunisha,new,8.836386,3,4,103,119999640.0,pd1239851313
999998,Wininger,Bonner,new,4.933742,1,3,103,119999760.0,pd1231450013
999999,Philips,Donnita,negotiation,5.247632,3,1,103,119999880.0,pd1231451330

## Data dumping

In [3]:
mg.dump('data/my_data.csv')
mg.dump('data/my_data.tsv')
mg.dump('data/my_data.json')

## Config dumping

In [4]:
mg.dump_config('data/schema.json')

## Mocking from config

In [7]:
mg2 = MockGenerator('data/schema.json')
mg2.sample(100)
mg2.get_dataframe()

,LastName,FirstName,Status,YOE,Number,Category,DateCreated,WeeksPassed,CumulativeTime
0,Begin,Demario,negotiation,3.419624,3,4,2020-03-19T00:00:00Z,1.0,0.0
1,Ashman,Lakedra,new,5.219912,4,3,2020-03-19T02:40:00Z,3.0,1200000.0
2,Voorhees,Khayyam,negotiation,3.110242,2,2,2020-03-19T05:20:00Z,5.0,2400000.0
3,Thorton,Johny,processing,8.727208,1,3,2020-03-19T08:00:00Z,7.0,3600000.0
4,Kinsella,Othello,new,3.573131,3,2,2020-03-19T10:40:00Z,9.0,4800000.0
...,...,...,...,...,...,...,...,...,...
95,Langley,Evelyn,new,7.737802,1,3,2020-03-29T13:20:00Z,NaN,114000000.0
96,Zhou,Lafe,new,6.656706,3,2,2020-03-29T16:00:00Z,NaN,115200000.0
97,Cantrell,Aubra,new,4.706828,2,1,2020-03-29T18:40:00Z,NaN,116400000.0
98,Caine,Roselynn,negotiation,4.312171,4,3,2020-03-29T21:20:00Z,NaN,117600000.0
99,Ralston,Travares,negotiation,7.255809,4,3,2020-03-30T00:00:00Z,NaN,118800000.0