In [3]:
from pydatamocker import MockGenerator

# Data generation

In [28]:
mg = MockGenerator()
mg.add_field('FirstName', 'first_name')
mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)

# mg.add_field('DateCreated', 'datetime', distr='range', start='2020-03-19', end='2020-03-30')

mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])

mg.add_field('WeeksPassed', 'integer', distr='range', start=1, end=104)
mg.add_field('CumulativeTime', 'float', distr='range', start=0, end=120000000)

mg.sample(1_000_000)
mg.get_dataframe()[:]

,LastName,FirstName,Status,YOE,Number,Category,WeeksPassed,CumulativeTime
0,Revels,Shajuana,new,7.485030,1,2,1,0.0
1,Karl,Kinya,processing,3.386481,4,3,1,120.0
2,Rabe,Yocheved,new,6.251103,3,3,1,240.0
3,Lollis,Andron,new,7.359812,3,2,1,360.0
4,Newkirk,Rayann,new,5.997009,2,5,1,480.0
...,...,...,...,...,...,...,...,...
999995,Waldon,Judson,new,8.368639,4,4,103,119999400.0
999996,Boutwell,Donyell,new,7.434561,2,0,103,119999520.0
999997,Doggett,Ciara,new,3.481336,1,1,103,119999640.0
999998,Luster,Malinda,negotiation,4.696428,3,4,103,119999760.0
999999,Groat,Rynell,new,8.917650,1,6,103,119999880.0

## Data dumping

In [3]:
mg.dump('data/my_data.csv')
mg.dump('data/my_data.tsv')
mg.dump('data/my_data.json')

## Config dumping

In [4]:
mg.dump_config('data/schema.json')

## Mocking from config

In [32]:
mg2 = MockGenerator('data/schema.json')
mg2.sample(11)
mg2.get_dataframe()

,LastName,FirstName,Status,YOE,Number,Category,WeeksPassed,CumulativeTime
0,Peoples,Jeno,new,7.002979,4,1,1,0.000000e+00
1,Gadbois,Rudi,new,4.932775,4,2,10,1.090909e+07
2,Ibarra,Grabiel,processing,4.122127,3,2,19,2.181818e+07
3,Arms,Philemon,negotiation,8.215024,4,5,29,3.272727e+07
4,Tower,Lacourtney,negotiation,7.899485,2,3,38,4.363636e+07
5,Gartner,Jiselle,negotiation,8.231712,2,1,47,5.454545e+07
6,Maze,Johathan,new,5.896217,2,3,57,6.545455e+07
7,Reber,Jentry,new,3.929643,2,3,66,7.636364e+07
8,Wingard,Debi,new,5.133845,2,5,75,8.727273e+07
9,Denman,Moshe,new,7.892231,1,4,85,9.818182e+07
10,Durkee,Starkeisha,processing,4.361603,1,3,94,1.090909e+08