In [1]:
from pydatamocker import MockGenerator

# Data generation

In [3]:
mg = MockGenerator()
#mg.add_field('FirstName', 'first_name')
#mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)

# mg.add_field('DateCreated', 'datetime', distr='range', start='2020-03-19', end='2020-03-30')

#mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])

mg.add_field('WeeksPassed', 'integer', distr='range', start=1, end=104)
mg.add_field('CumulativeTime', 'float', distr='range', start=0, end=120000000)

mg.add_table('ids.csv')

mg.sample(10_000_000)
mg.get_dataframe()

,YOE,Status,Number,Category,WeeksPassed,CumulativeTime,Id,Name,Tier
0,5.891728,negotiation,2,1,1,0.0,pd1233351313,Acme Corp,Bronze
1,3.628580,new,1,5,1,12.0,pd1231001313,Aion Trucks,Silver
2,7.368959,new,3,1,1,24.0,pd1231151313,Henry & Sons,Silver
3,4.735621,new,1,3,1,36.0,pd1231451330,Aer Newton,Bronze
4,4.489162,new,2,6,1,48.0,pd1231001313,Aion Trucks,Silver
...,...,...,...,...,...,...,...,...,...
9999995,3.091445,new,4,0,103,119999940.0,pd2231451313,Pegasus Delivery,Silver
9999996,8.116152,processing,1,2,103,119999952.0,pd1233351313,Acme Corp,Bronze
9999997,5.022532,new,2,4,103,119999964.0,pd1239851313,Acme Inc,Bronze
9999998,6.993513,new,1,1,103,119999976.0,pd3531451311,Fast & Careful,Bronze
9999999,3.319034,closed,4,1,103,119999988.0,pd1231451330,Aer Newton,Bronze

## Data dumping

In [5]:
mg.dump('data/my_data.csv')
mg.dump('data/my_data.tsv')
mg.dump('data/my_data.json')

## Config dumping

In [1]:
mg.dump_config('data/schema.json')

NameError: name 'mg' is not defined

## Mocking from config

In [ ]:
mg2 = MockGenerator('data/schema.json')
mg2.sample(11)
mg2.get_dataframe()

,LastName,FirstName,Status,YOE,Number,Category,WeeksPassed,CumulativeTime
0,Hoerner,Tenica,new,5.536746,3,2,1,0.000000e+00
1,Kircher,Shemika,new,3.883645,3,2,10,1.090909e+07
2,Devine,Brieana,new,3.507060,1,2,19,2.181818e+07
3,King,Elspeth,processing,3.478148,4,1,29,3.272727e+07
4,Remington,Krieg,new,3.766577,4,2,38,4.363636e+07
5,Jackman,Barrie,processing,3.440002,4,3,47,5.454545e+07
6,Hanshaw,Ruven,negotiation,6.978557,3,0,57,6.545455e+07
7,Wallen,Tressa,new,4.422339,1,3,66,7.636364e+07
8,Simoneau,Gabino,new,6.907268,3,4,75,8.727273e+07
9,Burdine,Sameera,negotiation,3.497787,1,5,85,9.818182e+07
10,Colburn,Janaya,new,6.587669,2,2,94,1.090909e+08

In [5]:
import pandas as pd

pd.concat([None, pd.Series([1, 2, 3, 4, 5], name='somename'), pd.Series([3, 4, 5, 6, 7], name='someothername')], axis=1)

   somename  someothername
0         1              3
1         2              4
2         3              5
3         4              6
4         5              7

In [7]:
s = pd.Series([1, 2, 3, 4, 5])
s.name == None

True