In [1]:
from pydatamocker import MockGenerator

# Data generation

In [2]:
mg = MockGenerator()
mg.add_field('FirstName', 'first_name')
mg.add_field('LastName', 'last_name')

mg.add_field('YOE', 'float', distr='uniform', min=3, max=9)
mg.add_field('Status', 'enum', values=['new', 'processing', 'negotiation', 'closed'], weights=[5, 2, 3, 1])
mg.add_field('Number', 'enum', values=[1, 2, 3, 4], weights=[1, 1, 1, 1])
mg.add_field('Category', 'integer', distr='binomial', n=10, p=0.3)
# mg.add_field('DateCreated', 'datetime', distr='range', start='2020-03-19', end='2020-03-30')
mg.set_column_order(['LastName', 'FirstName', 'FirstName', 'Status', 'YOE'])
mg.add_field('WeeksPassed', 'integer', distr='range', start=1, end=104)
mg.add_field('CumulativeTime', 'float', distr='range', start=0, end=120000000)
mg.sample(10_000_000)
mg.get_dataframe()[:]

,LastName,FirstName,Status,YOE,Number,Category,WeeksPassed,CumulativeTime
0,Ponder,Larnell,new,8.281711,3,4,1,0.0
1,Karim,Una,negotiation,4.021227,3,2,1,12.0
2,Dunkle,Rabecka,new,6.031492,2,2,1,24.0
3,Govan,Fausto,new,7.336976,2,1,1,36.0
4,Broaddus,Joffrey,new,7.480755,3,3,1,48.0
...,...,...,...,...,...,...,...,...
9999995,Marchant,Josemiguel,new,4.045412,4,3,103,119999940.0
9999996,Gaylor,Sparkle,new,6.928483,1,3,103,119999952.0
9999997,Crowder,Canda,negotiation,4.158977,3,3,103,119999964.0
9999998,Capp,Jamelia,new,4.526892,3,3,103,119999976.0
9999999,Swink,Savoeun,new,3.021100,3,8,103,119999988.0

## Data dumping

In [3]:
mg.dump('data/my_data.csv')
mg.dump('data/my_data.tsv')
mg.dump('data/my_data.json')

## Config dumping

In [4]:
mg.dump_config('data/schema.json')

## Mocking from config

In [7]:
mg2 = MockGenerator('data/schema.json')
mg2.sample(100)
mg2.get_dataframe()

,LastName,FirstName,Status,YOE,Number,Category,DateCreated,WeeksPassed,CumulativeTime
0,Begin,Demario,negotiation,3.419624,3,4,2020-03-19T00:00:00Z,1.0,0.0
1,Ashman,Lakedra,new,5.219912,4,3,2020-03-19T02:40:00Z,3.0,1200000.0
2,Voorhees,Khayyam,negotiation,3.110242,2,2,2020-03-19T05:20:00Z,5.0,2400000.0
3,Thorton,Johny,processing,8.727208,1,3,2020-03-19T08:00:00Z,7.0,3600000.0
4,Kinsella,Othello,new,3.573131,3,2,2020-03-19T10:40:00Z,9.0,4800000.0
...,...,...,...,...,...,...,...,...,...
95,Langley,Evelyn,new,7.737802,1,3,2020-03-29T13:20:00Z,NaN,114000000.0
96,Zhou,Lafe,new,6.656706,3,2,2020-03-29T16:00:00Z,NaN,115200000.0
97,Cantrell,Aubra,new,4.706828,2,1,2020-03-29T18:40:00Z,NaN,116400000.0
98,Caine,Roselynn,negotiation,4.312171,4,3,2020-03-29T21:20:00Z,NaN,117600000.0
99,Ralston,Travares,negotiation,7.255809,4,3,2020-03-30T00:00:00Z,NaN,118800000.0